.container {
  width: 1280px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}
.px-4 {
  padding: 0 4rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}
.mx-4 {
  margin: 0 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.current {
  border-bottom: 1px #3d90a2 solid;
}

#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  background: linear-gradient(141deg, white, #3e90a399);
}
#main-nav #logo {
  width: 65px;
  height: 65px;
}
#main-nav .ul-flex {
  display: flex;
  align-items: center;
}
#main-nav .ul-flex li a {
  justify-content: center;
  margin: 0 16px;
}
@media (max-width: 600px) {
  #main-nav {
    height: 3rem;
  }
  #main-nav #logo {
    width: 45px;
    height: 45px;
  }
  #main-nav a {
    font-size: 14px;
  }
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content h1 {
  margin-top: 10px;
}
#content #picture {
  height: 200px;
  border-radius: 50%;
}
#content #skillset {
  background-color: #3e90a399;
  color: #333;
  width: 30%;
  margin: 20px 0;
  padding: 15px 0;
}
#content #skillset ul li {
  text-align: center;
  margin: 10px 0;
}
@media only screen and (max-width: 500px) {
  #content #picture {
    height: 125px;
  }
  #content #skillset {
    font-size: 14px;
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  #content #picture {
    height: 125px;
  }
  #content #skillset {
    font-size: 14px;
    width: 70%;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  form .btn {
    font-size: 14px;
    padding: 15px 20px;
  }
}

.form-group {
  width: 70%;
  margin-bottom: 1.5em;
  transition: all 0.3s;
}

.form-label {
  font-size: 0.75em;
  color: #333;
  display: block;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}

.form-control {
  box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  width: 100%;
  font-size: 1rem;
  transition: all 0.6s;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(#2a6471);
  outline: none;
}

.form-group:focus-within {
  transform: scale(1.01, 1.01);
}

.form-control:invalid:focus {
  border-color: red;
}

.form-control:valid:focus {
  border-color: green;
}

.btn {
  padding: 15px 35px;
  border: none;
  background-color: #2a6471;
  color: #f4f4f4;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px #3e90a399;
}

textarea {
  resize: none;
}

.focused > .form-label {
  opacity: 1;
  transform: translateX(0px);
}

#main-footer {
  top: 0;
  background: #333;
  color: #fff;
  height: 4rem;
}
#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}
#main-footer .footer-content .social .fab {
  border-radius: 50%;
}
#main-footer .footer-content .social .fab:hover {
  cursor: pointer;
  background-color: #3d90a2;
}
@media only screen and (max-width: 600px) {
  #main-footer {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
