// Variables
$website-width: 1280px;

// Fonts
$font-stack: Helvetica, sans-serif;
// Colors
$main-color: #adaada;
$main-shade-color: #8a88ae;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
