@import "config";
@import "util";
@import "media";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//  General Styles
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: $font-stack;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark-color;
}

.current {
  border-bottom: 1px $main-color solid;
}

#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  background: linear-gradient(141deg, white, #3e90a399);

  #logo {
    width: 65px;
    height: 65px;
  }

  .ul-flex {
    display: flex;
    align-items: center;

    li {
      a {
        justify-content: center;
        margin: 0 16px;
      }
    }
  }

  @media (max-width: 600px) {
    height: 3rem;

    #logo {
      width: 45px;
      height: 45px;
    }
    a {
      font-size: 14px;
    }
  }

  @media (max-width: 1024px) {
  }
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #picture {
    height: 200px;
    border-radius: 50%;
  }
  #skillset {
    background-color: #3e90a399;
    color: $dark-color;
    width: 30%;
    margin: 20px 0;
    padding: 15px 0;

    ul {
      li {
        text-align: center;
        margin: 10px 0;
      }
    }
  }
  @media only screen and (max-width: 500px) {
    #picture {
      height: 125px;
    }
    #skillset {
      font-size: 14px;
      width: 70%;
    }
  }
}

// Footer
#main-footer {
  top: 0;
  background: $dark-color;
  color: #fff;
  height: 4rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;

    .social .fab {
      // margin-right: 1rem;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        background-color: $main-color;
      }
    }
  }
}
